@use "../../abstract/variable" as var;
@use "../../abstract/mixins";

#cards {
    @include mixins.flex (row);
    background-image: url(../img/about-bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 0 5%;
    padding-top: 200px;

    .separateur {
        margin: 2rem 0;
    }
    .card {
        @include mixins.flex;
        margin: 0 1rem;

        .bg_logo {
            @include mixins.logocard;
            margin-bottom: 3rem;
        }
        .btn {
            @include mixins.button;
            margin: 3rem 0;
        }
    }
}
@media screen and (max-width:1024px) {
    #cards {
        flex-wrap: wrap;

        .card  {
            width: 50%;
        }
    }
}
@media screen and (max-width:800px) {
    #cards {
        

        .card  {
            width: 100%;
        }
    }
}